# Build directories
build/
bin/
obj/
out/
.geode/
geode-deps/

# Output files
*.geode
*.lib
*.pdb
*.exp
*.ilk
*.suo
*.user

# VS Code
.vscode/
.history/
*.log

# CMake
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CMakeUserPresets.json
install_manifest.txt
Makefile
cmake_install.cmake

# OS Specific
Thumbs.db
.DS_Store
